<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magenest\CustomApi\Api\CustomInterface" type="Magenest\CustomApi\Model\Api\Custom"/>

    <preference for="Magenest\CustomApi\Api\GetCustomerInterface" type="Magenest\CustomApi\Model\Api\GetCustomer" />

    <preference for="Magenest\CustomApi\Api\GetCustomerByIdInterface" type="Magenest\CustomApi\Model\Api\GetCustomerById" />

    <preference for="Magenest\CustomApi\Api\PostCustomerInterface" type="Magenest\CustomApi\Model\Api\PostCustomer" />

    <preference for="Magenest\CustomApi\Api\DeleteCustomerInterface" type="Magenest\CustomApi\Model\Api\DeleteCustomer" />

    <preference for="Magenest\CustomApi\Api\EditCustomerInterface" type="Magenest\CustomApi\Model\Api\EditCustomer" />
</config>

